@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section -->
<div class="bgded overlay" style="background-image:url('@Url.Content("~/images/demo/backgrounds/flower_arch_bg.webp")');">
    <div id="pageintro" class="hoc clear"> 
        <article>
            <h3 class="heading">MarryMe Market</h3>
            <p>Your one stop shop for your dream weddings. Here at MarryMe Market we believe everyone should be able to afford their dream wedding.
                We make it possible for people to rent out their stored away wedding supplies to those trying to craft their perfect wedding.</p>
            <footer><a class="btn" href="#">Get Started!</a></footer>
        </article>
    </div>
</div>

<!-- Main Content -->
<div class="wrapper row3">
    <main class="hoc container clear"> 
        <section id="introblocks">
            <ul class="nospace group btmspace-80 elements elements-four">
                <li class="one_quarter">
                    <article><a href="#"><i class="fas fa-heart"></i></a>
                        <h6 class="heading">Wedding Dresses</h6>
                    </article>
                </li>
                <li class="one_quarter">
                    <article><a href="#"><i class="fas fa-dove"></i></a>
                        <h6 class="heading">Wedding Venues</h6>
                    </article>
                </li>
                <li class="one_quarter">
                    <article><a href="#"><i class="fas fa-gift"></i></a>
                        <h6 class="heading">Wedding Decor</h6>
                    </article>
                </li>
                <li class="one_quarter">
                    <article><a href="#"><i class="fas fa-gem"></i></a>
                        <h6 class="heading">Misc Wedding Items</h6>
                    </article>
                </li>
            </ul>
        </section>

        <section class="group shout">
            <figure class="one_half first"><img src="/images/demo/testimonial_1.png" alt="">
                <figcaption class="heading"><a href="#">Testimonial</a></figcaption>
            </figure>
            <figure class="one_half"><img src="/images/demo/testimonial_2.png" alt="">
                <figcaption class="heading"><a href="#">Testimonial</a></figcaption>
            </figure>
        </section>
    </main>
</div>

<!-- Services Section -->
<div class="bgded overlay light" style="background-image:url('@Url.Content("~/images/demo/backgrounds/01.png")');">
    <section id="services" class="hoc container clear">
        @* <div class="sectiontitle"> *@
        @*     <p class="nospace font-xs">Quis leo hendrerit lectus morbi</p> *@
        @*     <h6 class="heading font-x2">Justo mauris tempus pharetra</h6> *@
        @* </div> *@
        <ul class="nospace group elements elements-three">
            <li class="one_third">
                <article><a href="#"><i class="fas fa-ring"></i></a>
                    <h6 class="heading">Our Story</h6>
                    <p>Get to know us and how we got started!</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-glass-cheers"></i></a>
                    <h6 class="heading">Frequently Asked Questions</h6>
                    <p>Get answers to what you might be curious about.</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="fas fa-kiss-wink-heart"></i></a>
                    <h6 class="heading">Contract and Policies</h6>
                    <p>How does the legal stuff all work for you and us?</p>
                </article>
            </li>
        </ul>
    </section>
</div>
